
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.bad-room-vrB {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-position: center;
  background-color: #ffffff;
  padding: 6.6rem 9rem 6.6rem 65.1rem;
  height: 102.4rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url('REPLACE_IMAGE:abd79581ace1f6eab3bee1746ee3f88d8ba61e65');

  .frame-6-enB {
    display: flex;
    align-items: center;
    width: 100%;
    height: 4.4rem;

    .home-16w {
      font-size: 3.6rem;
      font-weight: 900;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 3.2rem;
    }
    .facitites-WpP {
      font-weight: 900;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 3.5rem;
      font-size: 3.6rem;
    }
    .rooms-eQo {
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 3.8rem;
      font-size: 3.6rem;
      font-weight: 900;
      line-height: 1.2125;
    }
    .contact-us-o2o {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 3.6rem;
      font-weight: 900;
      line-height: 1.2125;
      color: #ffffff;
    }
  }
}
