
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-3-akw {
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 24.1rem 23.3rem;
  width: 100%;

  .rectangle-1108-KyR {
    height: 13.7rem;
    background-color: #14274a;
    border-radius: 2.7rem;
    width: 58.1rem;
  }
}
