
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.night-view-VGK {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-i3n5-ShM {
    box-sizing: border-box;
    padding: 6.3rem 7.8rem 6.3rem 66.3rem;
    background-image: url('REPLACE_IMAGE:c92ad03552f3d1cc61d6d95a37bd28a71e1c0bc8');
    background-position: center;
    flex-shrink: 0;
    margin-bottom: 1.5rem;
    width: 100%;
    height: 66rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    .frame-7-ANT {
      align-items: center;
      width: 100%;
      height: 4.4rem;
      display: flex;

      .home-VvX {
        margin-right: 3.2rem;
        font-size: 3.6rem;
        font-weight: 900;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .facitites-qjV {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 3.5rem;
        font-size: 3.6rem;
        font-weight: 900;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .rooms-awy {
        font-weight: 900;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 3.8rem;
        font-size: 3.6rem;
      }
      .contact-us-wGj {
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 3.6rem;
        font-weight: 900;
      }
    }
  }
  .whatsapp-image-2024-02-29-at-1157-1-Tks {
    flex-shrink: 0;
    margin-bottom: 2rem;
    width: 144rem;
    height: 102.5rem;
    object-fit: cover;
    vertical-align: top;
  }
  .whatsapp-image-2024-02-29-at-1159-1-PPd {
    width: 144rem;
    height: 93.8rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
  }
}
